<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/scripts/login.js" defer></script>
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form id="login-form" action="/login" method="post">
        <div class="form-group">
            <label for="formatted-phone">Phone number</label>
            <input type="text" id="formatted-phone" placeholder="Enter your phone number" required>
            <input type="hidden" id="raw-phone" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="password-container">
                <input type="password" id="password" placeholder="Enter your password" minlength="8" name="password" required>
                <button type="button" id="togglePassword" class="toggle-password">
                    <!-- SVG for toggle password icon -->
                </button>
            </div>
        </div>
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    </form>

    <!-- Добавляем кнопку для входа через GitHub -->
    <button onclick="window.location.href='/oauth2/authorization/github'" class="github-login-btn">
        <img src="/images/github-icon.svg" alt="GitHub Logo"> Login with GitHub
    </button>
</div>

<script>
    document.getElementById('formatted-phone').addEventListener('input', function (e) {
        let input = e.target.value.replace(/\D/g, '');
        let formattedInput = '';

        if (input.length > 0) formattedInput += input[0];
        if (input.length >= 2) formattedInput += ' (' + input.substring(1, 4);
        if (input.length >= 5) formattedInput += ') ' + input.substring(4, 7);
        if (input.length >= 8) formattedInput += '-' + input.substring(7, 9);
        if (input.length >= 10) formattedInput += '-' + input.substring(9, 11);

        e.target.value = formattedInput.substring(0, 18);
        document.getElementById('raw-phone').value = input;
    });

    document.getElementById('login-form').addEventListener('submit', function (e) {
        let formattedPhone = document.getElementById('formatted-phone').value;
        let rawPhone = formattedPhone.replace(/\D/g, '');
        document.getElementById('raw-phone').value = rawPhone;
    });
</script>
</body>
</html>
