<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/profile.css">>
    <script src="/scripts/profile.js" defer> </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="salary-info-section">
        <h2>Payment Information</h2>
        <div class="salary-info">
            <p><strong>Monthly Salary:</strong> <span id="monthly-salary">Loading...</span></p>
            <p><strong>Weekly Salary:</strong> <span id="weekly-salary">Loading...</span></p>
            <p><strong>Total Lessons Per Month:</strong> <span id="lessons-per-month">Loading...</span></p>
            <p><strong>Total Lessons Per Week:</strong> <span id="lessons-per-week">Loading...</span></p>
            <p><strong>Average Salary Per Lesson:</strong> <span id="average-salary-per-lesson">Loading</span></p>
        </div>
    </section>

    <section class="profile-section">
        <h1>Your Students
            <a href="/add-new-student" class="add-student-button">
                <span class="material-icons">add</span>
            </a>
        </h1>
        <div class="students-list">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Grade</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <!-- Students will be added here via JavaScript -->
                </tbody>
            </table>
        </div>
    </section>
    <section class="lessons-section">
        <h2>Your Lessons</h2>
        <div class="lessons-list">
            <!-- Уроки будут рендериться здесь с помощью JavaScript -->
        </div>
    </section>

    <section class="hidden-lessons-section">
        <button id="toggle-hidden-lessons">Hidden Lessons</button>
        <div class="hidden-lessons-list hidden">
            <!-- Hidden lessons will be rendered here via JavaScript -->
        </div>
    </section>

</main>
<footer>
    <p>&copy; 2024 Teacher Assistant. All rights reserved.</p>
</footer>
</body>
</html>
